body{
    /* background-color: #111 !important; */
    /* position: relative; */
    /* border: 2px solid blue; */
    margin: 0px;
    height: 100vh; /*1vh = 1% browser screen*/
}

nav{
    height: 7vh;
}

#main{
    /* border: 2px solid red; */
    width: 100%;
    height: 93vh;
    /* position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%,-50%); */
    
}
#grid{
    /* border: 2px solid black; */
    background-color: #111;
    height:93vh;
    width:100%;
    /* position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%,-50%); */
}
#grid_table{
    /* border: 1px solid black; */
    border-collapse: collapse;
    table-layout: fixed;
    background-color: #111;
}
td {
    border: 1px solid #444;
    border-collapse: collapse;
    /* background-color: #111; */
    cursor: pointer;
}
.button {
    background-color: #234730; /* Green */
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}
.size-button {
    /* position: relative;
    border-radius: 2px;
    top: 3%;
    left: 20%; */
}
#maze-form{
    /* position: relative;
    display: inline-block;
    top: 3%;
    left: 20%;
    margin-right: 3%; */
}
#maze-button{
    /* background-color: gray; */
}
#maze-selection-button{
    background-color: gray;
}
#shortestpath-selection-button{
    /* background-color: gray; */
}
#fsp-form{
    margin-left: 10px;
}
#fsp-button{
    background-color: #4CAF50; /* Green */
}

#color-info-box{
    position: absolute;
    top: 3%;
    left: 2.5%;
    height: 8%;
    width: 10%;
    /*border: 2px solid red;*/
}
.color-box{
    position: absolute;
    top: 0;
    left: 0;
    height: 33.33%;
    width: 15%;
    /*border: 2px solid green;*/
}
.color-in-color-box{
    /*border: 2px solid white;*/
    width: 60%;
    height: 60%;
    position: absolute;
    top: 50%;
      right: 50%;
    transform: translate(50%,-50%);
}
.color-name-box{
    position: absolute;
    top: 0;
    left: 20%;
    height: 33.33%;
    width: 80%;
    color: #EEE;
    /*border: 2px solid yellow;*/
    font-size: 80%;
}
#clear-grid-button{
    background-color: red;
    margin-left: 10px;
}
#random-start-end-points-button{
    background-color: gray;
    margin-left: 10px;
}
#random-walls-button{
    background-color: gray;
    margin-left:10px;
}
